@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes marquee {
  0% { transform: translateX(100%) }
  100% { transform: translateX(-100%) }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}